@import url("fonts.css");
@import url("pageStyle.css");
@import url("bottom.css");

h1 {
    font-family: FayonGrandeProSemi;
}

#startDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startDiv > h1 {
    font-size: 160px;
    margin: 0;
}

#startDiv > p {
    font-size: 30px;
    color: black;
    margin: 0;
    font-family: HelveticaNeue;
}

#startDiv > * {
    margin-bottom: 50px;
}

#startDiv > #startKnop {
    font-size: 35px;
    padding: 0;
    margin: 50px 0 80px 0;
}

#startText {
    margin: 10px;
}

#startPijl {
    font-family: Webdings;
    font-size: 80px;
    margin: 0;
}

#questionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionsDiv > h1 {
    font-size: 80px;
    height: 200px;
}

#answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;

    font-family: HelveticaNeue;
}

#answers > * > b {
    font-size: 40px;
    color: var(--primaryColor);
    font-family: HelveticaNeueBold;
}

#answers > * {
    padding: 20px;

    width: 300px;
    height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#answers > *:nth-child(-n + 2) {
    border-right: 2px solid var(--primaryColor);
}

#answers > * > p {
    font-size: 25px;
}

#answerDiv {
    display: flex;
    flex-direction: column;
    color: white;
}

#answerDiv > h1 {
    font-size: 70px;
    margin: 0;
}

#answerDiv > #name {
    font-size: 100px;
}

#answerDiv > h2 {
    font-size: 30px;
    margin-top: 60px;
}

#answerDiv > p {
    font-size: 17px;
    position: absolute;
    bottom: 180px;
    right: 90px;
    width: 500px;
}

#answerDiv > img {
    height: 850px;
    position: fixed;
    right: 100px;
    top: 40px;
    -webkit-filter: invert(1);
    filter: invert(1);
}