@import url("fonts.css");
@import url("pageStyle.css");
@import url("bottom.css");

h1 {
    font-family: FayonGrandePro;
}

#startDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startDiv > h1 {
    font-size: 150px;
    margin: 0;
}

#startDiv > p {
    font-size: 30px;
    color: var(--primaryColor);
    margin: 0;
    font-family: HelveticaNeue;
}

#startDiv > * {
    margin-bottom: 50px;
}

#startDiv > button {
    width: 250px;
    height: 100px;
    
    background-color: white;
    border: 2px solid var(--primaryColor);
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    font-size: 20px;
    font-family: HelveticaNeue;

    margin-top: 50px;
}

#startDiv > img {
    width: 800px;
}

#questionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionsDiv > h1 {
    font-size: 80px;
}

#answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 1000px;

    font-family: HelveticaNeue;
}

#answers > * > b {
    font-size: 40px;
    color: var(--primaryColor)
}

#answers > * {
    padding: 20px;

    width: 230px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answers > *:nth-child(-n + 2) {
    border-right: 2px solid var(--primaryColor);
}

#answers p {
    font-size: 25px;
}

#answerDiv {
    display: flex;
    flex-direction: column;
    color: white;
}

#answerDiv > h1 {
    font-size: 70px;
    margin: 0;
}

#answerDiv > #name {
    font-size: 100px;
}

#answerDiv > h2 {
    font-size: 30px;
    margin-top: 60px;
}

#answerDiv > p {
    font-size: 17px;
    position: absolute;
    bottom: 180px;
    right: 140px;
    width: 400px;
}

#answerDiv > img {
    height: 850px;
    position: fixed;
    right: 100px;
    top: 40px;
    -webkit-filter: invert(1);
    filter: invert(1);
}