@font-face {
    font-family: AvenirNextLT;
    font-weight: MediumIt;
    src: url("fonts/AvenirNextLTPro-MediumIt.otf");
}

@font-face {
    font-family: IvyMode;
    font-weight: Regular;
    src: url("fonts/IvyMode-Regular.otf");
}

@font-face {
    font-family: IvyMode;
    font-weight: ThinItalic;
    src: url("fonts/IvyMode-ThinItalic.otf");
}