body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

#timeline {
    border: 1px solid red;
    height: 11vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#timeline img{
    max-height: 100%;
}

.pic{
    border: 1px solid green;
    width: 9%;
}

#bigImage {
    height: 50vh;
    display: flex;
}

#bigImage img {
    height: 100%;
}