body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

#timeline {
    height: 11vh;
    width: 98vw;
    display: flex;
    justify-content: center;
}

#timeline img{
    max-height: 100%;
}

.firstimg{
    max-width: 9vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.pic{
    width: 9%;
}

.hitbox {
    flex-grow: 100;
    border: 1px solid green;
}

#bigImage {
    height: 50vh;
    display: flex;
}

#bigImage img {
    height: 100%;
}

#badges{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.badge {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
}

.correct {
    background-color: green;
}